allow untrusted_app adsprpcd_exec:file getattr;
allow untrusted_app audiod_exec:file getattr;
allow untrusted_app bootanim_exec:file getattr;
allow untrusted_app btnvtool_exec:file getattr;
allow untrusted_app clatd_exec:file getattr;
allow untrusted_app debuggerd_exec:file getattr;
allow untrusted_app dhcp_exec:file getattr;
allow untrusted_app dnsmasq_exec:file getattr;
allow untrusted_app drmserver_exec:file getattr;
allow untrusted_app logd_exec:file getattr;
allow untrusted_app recovery_cache_file:dir { read getattr open };
allow untrusted_app recovery_cache_file:file getattr;
allow untrusted_app tombstone_data_file:dir getattr;
allow untrusted_app dumpstate_exec:file getattr;
allow untrusted_app hostapd_exec:file getattr;
allow untrusted_app install_recovery_exec:file getattr;
allow untrusted_app installd_exec:file getattr;
allow untrusted_app irsc_util_exec:file getattr;
allow untrusted_app keystore_exec:file getattr;
allow untrusted_app lmkd_exec:file getattr;
allow untrusted_app location_exec:file getattr;
allow untrusted_app mdnsd_exec:file getattr;
allow untrusted_app mediaserver_exec:file getattr;
allow untrusted_app mm-qcamerad_exec:file getattr;
allow untrusted_app mtp_exec:file getattr;
allow untrusted_app netd_exec:file getattr;
allow untrusted_app wcnss_service_exec:file getattr;
allow untrusted_app graphics_device:chr_file getattr;
allow untrusted_app graphics_device:dir getattr;
